<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.prafulmathur.distraction_free</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>distraction_reduction.py</string>
    </array>
    
    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false/>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/distract_free.error.log</string>
    <key>StandardOutPath</key>
    <string>/tmp/distract_free.out.log</string>
</dict>
</plist>

